
%grid-center{
    display: grid;
    align-items: center;
    justify-items: center;
}

%border-length-var {

    &::after{
        border-bottom: 3px $vert-clair solid;
        content: '';
        display: block;
        width: 3rem;
    }
}