footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat 5, 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    background-color: $gris-sombre;
    color: $txt-fond-sombre;
    padding: 1.875rem;

    & li {
        display: inline-block; 
        width: 100%;  
    }

    & a {
       display: block;
       position: relative;
       padding: 0 0 0.7rem 0;
       color: $txt-fond-sombre;

       & .fa-utensils{
        padding: 0 1rem 0 0;
       }

       & .fa-hands-helping{
        padding: 0 0.55rem 0 0;
       }
    }
    & img {
        filter: invert(100%);
        width: 6rem;
        padding-bottom: 1rem;
    }

       
}

