@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
main .menuDuResto, main .lesRestaurants, main .commentCaMarche, main .presentation, main .localisation, header {
  display: grid;
  align-items: center;
  justify-items: center;
}

main .menuDuResto__carte h3::after {
  border-bottom: 3px #99E2D0 solid;
  content: "";
  display: block;
  width: 3rem;
}

.list-item {
  padding: 1.5em 1em;
  text-align: left;
  border-radius: 1em;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}

.btn {
  padding: 1em 1.5em;
  color: #ffffff;
  transition: 250ms;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btn--gradient {
  background-image: radial-gradient(100% 50% at 20% 10%, #FF79DA 0%, #9356DC 200%);
}
.btn--radius {
  border-radius: 2em;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn__like .heart-away, button .heart-away {
  display: block;
  transform: scale(1);
  transition: all 0.5s;
}
.btn__like .heart-hover, button .heart-hover {
  display: block;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: all 0.5s;
  background-color: black;
  background-image: linear-gradient(0deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.btn__like:hover .heart-away, button:hover .heart-away {
  opacity: 0;
  transform: scale(0);
}
.btn__like:hover .heart-hover, button:hover .heart-hover {
  opacity: 1;
  transform: scale(1);
}

header {
  grid-template-columns: repeat(1, 1fr);
  padding: 1em;
}
header h1 {
  grid-row: 1 / auto;
  grid-column: 1 / auto;
  font-family: "Shrikhand", cursive;
}
header .btn__retourHome {
  grid-row: 1 / auto;
  grid-column: 1 / auto;
  justify-self: start;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat 5, 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #353535;
  color: #ffffff;
  padding: 1.875rem;
}
footer li {
  display: inline-block;
  width: 100%;
}
footer a {
  display: block;
  position: relative;
  padding: 0 0 0.7rem 0;
  color: #ffffff;
}
footer img {
  filter: invert(100%);
  width: 6rem;
  padding-bottom: 1rem;
}
footer .list {
  margin-right: 0.5rem;
  width: 1.2rem;
}

@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes spinner-border {
  0% {
    visibility: visible;
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
.spinner {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner__border {
  border-top: 0.5rem solid #9356DC;
  border-bottom: 0.5rem solid #9356DC;
  border-left: 0.5rem solid #99E2D0;
  border-right: 0.5rem solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spinner-border 2s linear;
  z-index: 10;
  visibility: hidden;
}

main {
  font-family: "Roboto", sans-serif;
}
main .localisation {
  padding: 1em;
  background: #eaeaea;
  background: linear-gradient(180deg, rgba(173, 173, 173, 0.35) 0%, rgba(234, 234, 234, 0.75) 15%, #eaeaea 100%);
}
main .localisation i {
  padding: 0 0.5em 0 0;
}
main .presentation {
  padding: 2em 0 3em;
  background: #f6f6f6;
  text-align: center;
}
main .presentation h2 {
  padding: 0 5em;
}
main .presentation p {
  padding: 1em 5em 2em;
}
main .commentCaMarche {
  grid-template-columns: repeat(1, 1fr);
  padding: 3em 1em;
}
main .commentCaMarche h2 {
  grid-row: 1 / auto;
  grid-column: 1 / 2;
  justify-self: start;
}
main .commentCaMarche ol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 2 / auto;
  grid-column: 1 / 4;
  grid-gap: 2em;
  margin: 1em 1em 0;
  justify-self: normal;
  counter-reset: chiffre;
}
main .commentCaMarche .list-item::before {
  counter-increment: chiffre;
  content: counter(chiffre);
  position: relative;
  left: -1.9em;
  padding: 0.3em 0.6em;
  border-radius: 70%;
  background-color: #9356DC;
  color: #ffffff;
}
main .commentCaMarche .list-item:hover {
  background-color: #f2eafb;
}
main .commentCaMarche .list-item:hover i {
  color: #9356DC;
}
main .commentCaMarche .list-item p {
  display: inline-block;
  position: relative;
  left: -0.7em;
}
main .commentCaMarche .list-item i {
  padding: 0 1em 0 0;
}
main .lesRestaurants {
  grid-template-columns: repeat(1, 1fr);
  padding: 3em 1em;
  background: #f6f6f6;
}
main .lesRestaurants h2 {
  grid-row: 1 / auto;
  grid-column: 1 / 2;
  justify-self: start;
}
main .lesRestaurants ul {
  grid-row: 2 / auto;
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  justify-self: normal;
  margin: 1em 0;
}
main .lesRestaurants ul li {
  display: inline-block;
  width: 100%;
}
main .lesRestaurants ul li a {
  display: block;
  position: relative;
  padding: 0 0 0.7rem 0;
  color: #000000;
  border-radius: 1.5em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
main .lesRestaurants ul li a img {
  padding: 0 0 0.5rem 0;
  width: 100%;
  height: 12.5em;
  object-fit: cover;
  border-radius: 1.5em 1.5em 0 0;
}
main .lesRestaurants ul li a h3, main .lesRestaurants ul li a p {
  padding: 0 1rem 0.5rem;
}
main .lesRestaurants ul li a span.sticker {
  position: absolute;
  padding: 0.4em 0.6em;
  border-radius: 0.2em;
  top: 1rem;
  right: 1rem;
  background-color: #99E2D0;
  color: #008766;
}
main .lesRestaurants ul li a span.btn__like {
  position: absolute;
  bottom: 2.5rem;
  right: 1.5rem;
  font-size: 1.5em;
  cursor: pointer;
}
main .menuDuResto {
  grid-template-columns: repeat(1, 1fr);
  padding: 0 0 3em;
  justify-self: normale;
  background: #f6f6f6;
}
main .menuDuResto__cover {
  margin: 0 0 -5em 0;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
main .menuDuResto__carte {
  padding: 2em 1em 0;
  background: #f6f6f6;
  border-radius: 3em 3em 0 0;
}
main .menuDuResto__carte h2 {
  grid-row: 1 / auto;
  grid-column: 1 / 4;
  justify-self: start;
  margin: 0 0 1em;
  font-family: "Shrikhand", cursive;
  font-size: 2em;
}
main .menuDuResto__carte h2 button {
  margin: 0 0 0 2rem;
  font-size: 1em;
  position: relative;
}
main .menuDuResto__carte h3 {
  grid-row: 2 / auto;
  grid-column: 1 / 4;
  justify-self: start;
  text-transform: uppercase;
  font-weight: normal;
}
main .menuDuResto__carte ul {
  grid-row: 3 / auto;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
  margin: 1em 0 2.5em;
  justify-self: normal;
}
main .menuDuResto__carte ul .list-item {
  position: relative;
  padding: 1em;
  cursor: pointer;
  overflow: hidden;
  font-size: 1.05em;
  animation: itemAppear 2s;
}
main .menuDuResto__carte ul .list-item:hover {
  position: main .menuDuResto__carte ul .list-item:hover h4;
  position-margin: 0 0 0.5rem 0;
  position-font-size: 1.1em;
}
main .menuDuResto__carte ul .list-item:hover p {
  font-size: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 85%;
  overflow: hidden;
  transition: all 0.5s;
}
main .menuDuResto__carte ul .list-item:hover strong {
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  transition: all 0.5s;
  font-weight: 600;
}
main .menuDuResto__carte ul .list-item:hover span {
  position: absolute;
  top: 0;
  right: -5rem;
  width: 5rem;
  height: 100%;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #99E2D0;
  transition: all 0.5s;
}
main .menuDuResto__carte ul .list-item:hover span .fa-check-circle {
  transform: rotate(-240deg);
  transition: all 0.5s;
}
main .menuDuResto__carte ul .list-item:hover:hover span {
  margin-right: 5rem;
}
main .menuDuResto__carte ul .list-item:hover:hover span i {
  transform: rotate(0deg);
}

@media (max-width: 1023px) {
  .commentCaMarche {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
